<nav>
    <div>
        <div>
            <img src="/cutie.svg" alt="" onclick="window.location.href = '/'">
        </div>

        <div class="desktop">
            {{/* <a href="/">Home</a> */}}
            <a href="/#about">About / Skills</a>
            <a href="/#projects">Projects</a>
        </div>

        <div class="desktop">

            {{/* <a href="" target="_blank">
                {{ partial "helpers/icon.html" "fingerprint" }}
            </a> */}}

            <a href="https://gitlab.com/Catlover999" target="_blank">
                {{ partial "helpers/icon.html" "gitlab" }}
            </a>

            <a href="https://github.com/catlover999" target="_blank">
                {{ partial "helpers/icon.html" "github" }}
            </a>

            <a href="https://www.linkedin.com/in/julien-acker/" target="_blank">
                {{ partial "helpers/icon.html" "linkedin" }}
            </a>

        </div>

        <script>
            function toggleMobileNavigation() {
                const element = document.querySelector('#mobileNavigation')

                if (element.style.display == "grid")
                    element.style.display = "none"
                else
                    element.style.display = "grid"
            }
        </script>
        <div class="mobile burger" onclick="toggleMobileNavigation()">
            {{ partial "helpers/icon.html" "menu" }}
        </div>

        <section class="mobile" id="mobileNavigation" style="display: none">

            <a href="/#about">About / Skills</a>
            <a href="/#projects">Projects</a>

            <div class="divider"></div>

            {{/* TODO: Remove duplication by using e.g. JSON file */}}
            <a href="https://gitlab.com/Catlover999" target="_blank">
                {{ partial "helpers/icon.html" "gitlab" }}
                <span>Gitlab</span>
            </a>

            <a href="https://github.com/catlover999" target="_blank">
                {{ partial "helpers/icon.html" "github" }}
                <span>Github</span>
            </a>

            <a href="https://www.linkedin.com/in/julien-acker/" target="_blank">
                {{ partial "helpers/icon.html" "linkedin" }}
                <span>LinkedIn</span>
            </a>

        </section>
    </div>
</nav>

<script>
    // Add a scroll event listener to the window object
    window.addEventListener('scroll', () => {
        // Get the current scroll position of the page
        const scrollPosition = window.pageYOffset

        // Select the element to apply the box-shadow to
        const element = document.querySelector('nav')

        // Check if the scroll position is greater than or equal to 50
        if (scrollPosition >= 50) {
            // If the scroll position is greater than or equal to 50, add the box-shadow style
            element.classList.add("hasShadow")
        } else {
            // If the scroll position is less than 50, remove the box-shadow style
            element.classList.remove("hasShadow")
        }
    });
</script>