#hero {
    margin: 20vh 0 16vh;

    display: grid;
    justify-content: center;
    gap: 1em;

    text-align: center;

    img {
        width: 10em;
    }

    span.title {
        font-size: 2em;
        font-weight: 600;
    }

    // span.subtitle {
    //     font-weight: 300;
    // }
}