<section id="about">
    <h1>About</h1>
    <p>
        I'm a developer currently studying Computing Science at the University of Aberdeen. I am currently in my Third year and am set to graduate in Summer 2024. I am passionate about Linux and related technologies, having used Linux for at least the past 7 years. I am currently President of the Aberdeen University Computing Society. 
    </p>
    <p>
        One hobby of mine is that 
    </p>
    <p>
        I have gained experience in writing Python, Java, and C. I'm interested in learning Rust.
    </p>
    <p>
        I hold a Swiss C permit, along with German and South African nationalities. I hold pre-settled status under the UK's EU Settlement Scheme.
    </p>
</section>
