<section>
    <h1>Skills</h1>
    <div class="stylesSection">

        <span>C</span>
        <div class="progress-bar">
            <div class="progress-80" style="background: #5D6CBF"></div>
        </div>

        <span>Python</span>
        <div class="progress-bar">
            <div class="progress-69" style="background: #FFD03C"></div>
        </div>

        <span>Rust</span>
        <div class="progress-bar">
            <div class="progress-42" style="background: #fc6625"></div>
        </div>

    </div>
    <p>
        Mollit in velit et in quis nisi. Veniam non amet cupidatat nostrud commodo reprehenderit enim aute
        culpa. Deserunt ex reprehenderit sunt consequat tempor voluptate incididunt excepteur do ea
        consectetur
        ullamco ipsum id.
    </p>
</section>