.single-content {

    .title {
        display: flex;
        justify-content: space-between;

        @media (max-width: 640px) {
            display: block;
            & > div {
                display: flex;
                justify-content: space-between;
            }
            & > div > div {
                justify-content: left !important;
            }
        }

        & > div > div {
            display: flex;
            align-items: center;
            justify-content: right;
            margin-bottom: 0.35em;
            svg {
                margin-left: 0.35em;
            }
        }
    }

}