.progress-bar {
    width: 100%;
    height: 2em;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    
    background: #eee;
    @media (prefers-color-scheme: dark) {
        background: $body_dark;
    }

    [class^="progress-"] {
        height: 100%;
        // background-color: #4caf50;
        background-color: darkorange;

        &::after {
            position: absolute;
            top: 1px;
            width: 3em;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
        }

    }

    @for $i from 1 through 100 {

        .progress-#{$i} {

            width: percentage($i/100);

            &::after {
                left: calc(#{percentage($i/100/2)} - 1.5em);
                content: $i + "%";
            }

        }

    }
}