<!DOCTYPE html>
<html lang="en">
{{ partialCached "template/head.html" . }}

<body>

    {{ partialCached "template/navbar.html" . }}

    {{ partial "hero.html" }}

    <div class="page">

        <div class="aboutAndSkillsBox">
            {{ partial "section/about.html" }}
            {{ partial "section/skills.html" }}
        </div>

        {{ partial "section/projects.html" . }}

    </div>
</body>

</html>